.search {
  display: flex;
  flex-direction: column;
}
.search__h1 {
  align-self: center;
  font-size: 40px;
}

.search__cards {
  display: flex;
}

.search__section__ul {
  padding: 24px 40px 40px 40px;
}
