.li__article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 4%;
}

.li_h3 {
  font-size: 1rem;
  margin-bottom: 6px;
}

.li__img {
  border-radius: 4px;
  max-height: 160px;
}

.li {
  display: flex;
  padding: 1.4% 4%;
}

.li__p {
  font-size: 15px;
  line-height: 1.6;
  padding: 10px 2px;
}

.li__a:link,
:visited {
  color: #fff;
  text-decoration: none;
}
