.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 2%;
  padding: 17%;
}

.main__background {
  background-image: url("https://movie-app-reactjs.s3.us-east-2.amazonaws.com/backimg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
}

.main__h1 {
  font-size: 3em;
  text-align: center;
  text-shadow: 3px 4px #000000;
}
