.div__a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div__a:link,
:visited {
  color: #fff;
  text-decoration: none;
}

.div__a__img {
  border-radius: 4px;
  max-height: 300px;
}

.div__card {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 5px 10px 5px;
  overflow: hidden;
  opacity: 0.8;
  padding: 3px;
}

.div__card:hover {
  opacity: 1;
}

.div__p__img {
  max-width: fit-content;
  padding: 14px 0;
  text-align: center;
  word-wrap: break-word;
}
