.card {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 10px 10px 10px;
  max-width: 200px;
  overflow: hidden;
  opacity: 0.8;
  padding: 3px;
}

.card:hover {
  opacity: 1;
}

.card__a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__a:link,
:visited {
  color: #fff;
  text-decoration: none;
}

.card__a__img {
  border-radius: 4px;
  max-height: 300px;
}

.card__a__p {
  max-width: fit-content;
  padding: 14px 0;
  text-align: center;
  word-wrap: break-word;
}
