.person__card__h1 {
  font-size: 40px;
  padding-bottom: 18px;
}

.person__picture__img {
  max-height: 600px;
}

.person {
  display: flex;
  padding: 40px;
}

.person__card {
  padding: 0 40px 40px 40px;
}

.person__card__bio__h2 {
  font-size: 22px;
  padding-bottom: 10px;
}

.person__card__bio__p {
  line-height: 22px;
}

.person__card__info {
  display: flex;
  justify-content: space-between;
}

.person__card__info__p {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  line-height: 25px;
}
