.recommendation__card {
  padding: 10px;
}

.recommendation__card__a {
  display: flex;
  flex-direction: column;
}

.recommendation__card__a:link,
:visited {
  color: #fff;
  text-decoration: none;
}

.recommendation__card__img {
  border-radius: 5px;
  max-height: 200px;
}

.recommendation__card_person {
  font-size: 18px;
  padding: 10px 0;
}
